body {
    display: flex;
    justify-content: center; /* 가로로 배치, 가운데 정렬 */
    align-items: center; /* 세로로 배치, 가운데 정렬 */
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

form {
    width: 500px;
    padding: 60px;
    background-color: #ffffff;
    border-radius: 50px;
    /* <offsetX> | <offsetY> | <blur-radius> | <spread-radius> | <color> */
    box-shadow: 3px 5px 5px 3px rgb(196, 195, 195);
}

.button_container {
    width: fit-content;
    margin-left: auto;
}

button {
    cursor: pointer;
    background-color: white;
    border: none;
}

img {
    width: 26px;
    height: 26px;
    
    margin-right: 6px;
    margin-left: 6px;
}

.year_container {
    display: flex;
    
    height: 50px;
    width: fit-content;
    margin: 0 auto;
}

p {
    /* font-size:16px default 값 */
    font-size: 30px;

    /* 200 400 600만 가능 */
    font-weight: 600;

    margin: 0; /* p 요소의 기본 마진 제거 */

    text-align: center;
}

.month_container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 20px;
    /* background-color: aqua; */
}

.month_container button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.month_container button.selected {
    background-color: #3498db;  
}

.date_container{
    margin-top: 20px; /* 일자 버튼과 위의 간격 조절 */
}

.date_container button {
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;

}

.date_container button.day {
    background-color: #d1d1d1; /* 선택된 날짜의 배경색 */
}

.date_container button.selected {
    background-color: #3498db; 
}

/* 모달 창 스타일링 */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal_container {
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    width: 600px;
    padding: 60px;
    background-color: #ffffff;
    border-radius: 50px;
    /* <offsetX> | <offsetY> | <blur-radius> | <spread-radius> | <color> */
    box-shadow: 2px 4px 4px 4px rgb(66, 66, 66);
  }

  .modal_container button {
    float: right;
  }
