body {
    display: flex;
    justify-content: center; /* 가로로 배치, 가운데 정렬 */
    align-items: center; /* 세로로 배치, 가운데 정렬 */
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, td {
    border: 1px solid #ddddddea;

}

td {
    padding: 12px;
    text-align: left;
    font-size: 13px;
}

.form_container {
    width: 300px;
    padding: 60px 30px ;
    background-color: #ffffff;
    border-radius: 50px;
    /* <offsetX> | <offsetY> | <blur-radius> | <spread-radius> | <color> */
    box-shadow: 3px 5px 5px 3px rgb(196, 195, 195);
}

h2 {
    color: #3498db;
    text-align: center;
    padding-bottom:20px;
}

.form {
    width: 300px;
    padding: 60px 30px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 3px 5px 5px 3px rgb(196, 195, 195);
}

.user_id_container{
    margin-bottom: 8px; /* 각 input-group 사이의 간격 조절 */
}

/* 입력란과 버튼을 감싸는 div의 스타일 */
.input_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px; /* 각 input-group 사이의 간격 조절 */
    gap: 8px;
}

/* 입력란 스타일 */
.input_container input {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccccccf1;
    border-radius: 4px;
}

/* 버튼 스타일 */
.input_container button {
    width:25%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498db;
    color: #ffffff;
}

/* 나머지 입력칸 */
.custom-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #ccccccf1;
    border-radius: 4px;
}

/* 수정하기, 탈퇴하기 버튼을 가로로 나란히 배치 */
.button_container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 방향 가운데 정렬 추가 */
}

button.update {
    background-color: #3498db;  
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}

button.delete {
    background-color: #e74c3c;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}

button.modify {
    width: 100%;
    background-color: #3498db;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}

button.main {
    background-color: transparent; /* 배경을 투명으로 설정 */
    color : #ddddddea;
    width: 100%;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin: 0 auto; /* 좌우 여백을 auto로 설정하여 가운데 정렬 */
}

