body {
    display: flex;
    justify-content: center; /* 가로로 배치, 가운데 정렬 */
    align-items: center; /* 세로로 배치, 가운데 정렬 */
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, td {
    border: 1px solid #ddddddea;
}

td {
    padding: 12px;
    text-align: left;
    font-size: 13px;
}

.form_container {
    width: 300px;
    padding: 60px 30px ;
    background-color: #ffffff;
    border-radius: 50px;
    /* <offsetX> | <offsetY> | <blur-radius> | <spread-radius> | <color> */
    box-shadow: 3px 5px 5px 3px rgb(196, 195, 195);
}

h2 {
    color: #3498db;
    text-align: center;
    padding-bottom:20px;
}

.info-box {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccccccf1;
    margin-bottom: 8px;
}

button {
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}

button.update {
    background-color: #3498db;  
}

button.delete {
    background-color: #e74c3c;  /
}

/* 수정하기, 탈퇴하기 버튼을 가로로 나란히 배치 */
.button_container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
