body {
    display: flex;
    justify-content: center; /* 가로로 배치, 가운데 정렬 */
    align-items: center; /* 세로로 배치, 가운데 정렬 */
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

form {
    width: 300px;
    padding: 60px 30px ;
    background-color: #ffffff;
    border-radius: 50px;
    /* <offsetX> | <offsetY> | <blur-radius> | <spread-radius> | <color> */
    box-shadow: 3px 5px 5px 3px rgb(196, 195, 195);
}

h2 {
    color: #3498db;
    text-align: center;
    padding-bottom:20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    /* 내용의 크기에 패딩과 테두리를 포함 */
    box-sizing: border-box;
    border: 1px solid #ccccccf1;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

